@property --p{
syntax: '<number>';
inherits: true;
initial-value: 0;
}

.pie {
--p:0;
--b:22px;
--c:darkred;
--w:400px;

width:var(--w);
aspect-ratio:1;
position:relative;
display:inline-grid;
margin:5px;
place-content:center;
font-size:25px;
font-weight:bold;
font-family: 'Poppins', sans-serif;
    display: flex;
    
}
.pie:before,
.pie:after {
content:"";
position:absolute;
border-radius:50%;
}
.pie:before {
inset:0;
background:
radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
-webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
inset:calc(50% - var(--b)/2);
background:var(--c);
transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
    .animate-in {
animation:pin 1s 0.5s both;
}
.animate-out {
animation:pout 1s 0.5s both;
}

.no-round:before {
background-size:0 0,auto;
}
.no-round:after {
content:none;
}

body {
font-family:sans-serif;
}

        
.inner {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height:100%;
width: 100%;
position: absolute;
top: 0;
}
.inner em {
font-style: normal;   
display: flex;
justify-content: center;
font-size: 10rem;
justify-content: center;
align-items: flex-end;
text-align: center;
flex: 2; /* 3/4 of the space */
/* Additional styling for em */
}
.inner sub {
display: flex;
justify-content: center;
justify-content: center;
align-items: flex-start;
text-align: center;
flex: 1; /* 1/4 of the space */
width: 50%;
/* Additional styling for sub */
}
